.about{
    position: relative;
  
}
.about__container {
    padding-top: 97px;
    width: 800px;
}

.about__decor {
     position: absolute;
    width: 490px;
    height: 505px;
    border-radius: 5px;
    top: 0;
    left: 0;
}
.about__decor-picture{  
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__content {
    position: relative;
   display: block;
   background: url("../img/mountains.png") center center / cover no-repeat;
   width: 785px;
   min-height: 455px;
   padding: 70px 202px 66px 81px;
   border-radius: 5px;
   margin-left: auto;
}
.about__title {
    font-size: 36px;
    line-height: 49px;
    color: #000;
    margin-bottom: 37px;
}
.about__text {
    margin-bottom: 43px;
    font-size: 16px;
    line-height: 27px;
    color: #060606;
}
.about__text p {
margin-bottom: 20px;
}
.about__text p:last-child {
    margin-bottom: 0;
}