.btn {
    display: inline-block;
    background: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 35px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    padding: 18px 40px;
    transition: opaciy .3s ;
    }
    .btn:hover{
        background: #F5170E;
        box-shadow:  0px 2px 4px rgba(218, 1, 0, 0,3) #DA0100;
    }
    .btn--size-middle {
        padding: 18px 30px;
    }
    .btn--them-bordered {
        background-color: transparent;
        color: #F5170E;
    }
    .btn--them-bordered:hover {
        background-color: #F5170E;
        color: #FFF;
    }
    .container {
        width: 1140px;
        margin: 0 auto;
        position: relative;
    }


button {
background: transparent;
cursor: pointer;
transition: opaciy .3s ;
}

.btn--color--black {
background:#8E8E8E;
border: none;
}
.btn--color--black:hover {
background:  #2B2B2B ;
}
.btn--color--red {
background: #F5170E;
border: none;
}
.btn--color--red:hover {
background:  #F5170E ;
}