.desire {
    background: url(../img/Rectangle.png) center no-repeat;
    min-height: 360px;
    display: flex;
   color: #fff ;
}
.decire__container {
display: flex;
align-items: center;
background:  url(../img/couple.png) right 5% bottom no-repeat;
}

.desire__content {
    max-width: 54%;
}
.desire__title {
    font-size: 48px;
    line-height: 1.35;
    font-weight: bold;  
}
