.dropdown {
    position: absolute;
    top: calc(100% + 10px);
    background: #EDEDED;
    padding: 14px 17px;
    color: #1E1F20;
    border-radius: 6px ;
    text-align: left;
    font-size: 13px;
    line-height: 21px;
    opacity: 0;
    left: -9999px;
    transition: opacity .3s ;
 }
.dropdown::before { 
   content: '';
   display: block;
   width: 14px;
   height: 14px;
   transform: rotate(45deg);
   background: #EDEDED;
   position: absolute;
   top: -7px;
   right: 29px;
}
.dropdown::after {
   content: '';
   display: block;
   width: 100%;
   height: 30px;
   position: absolute;
   top: -16px;
   right: 0px;
}



