.footer__content{

    border-top: 1px solid #192f37;
    padding-top: 47px;
    padding: 47px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
  
    margin-top: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #001821;
}
.footer__col--aling--right {
    align-items: flex-end;
}
.footer__col {
    display: flex;
    align-items: center;
}
.footer__socials {
    margin-right: 78px;
}




/*service*/
.container-footer__section {
    height: 140px;
    margin-top: 12px;
}
.inner__footer {
   background: #001821 ;
}
.inner__footer {
    margin-top: auto;
}