.logo {
    display: block;
margin-right: 79px;
width: 85px;
height: 36px;
}
.logo--inner {
    width: 98px;
    height: 42px;
    margin-right: 54px;
}
.logo__link {
    display: block;
   
}
.logo__img{
    max-width: 100%;
}
