.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}


.paginator__display {
    font-size: 16px;
    margin-right: 25px;
    padding-left: 10px;
}


.paginator__list {
    display: flex;
    align-items: center;
}
.paginator__item {
    text-align: center;
    margin-right: 2px;
}

.paginator__item-active .paginator__link  {
    background: #FFF;
    color: #F5170E;
}
.paginator__item:hover .paginator__link  {
    background: #FFF;
    color: #F5170E;
}
.paginator__link {
    font-weight: bold;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
}

.paginator--light {
    color: #000;
}
.paginator--light .paginator__display {
   padding-left: 45px;
}
.paginator--light .paginator__item-active .paginator__link  {
    background: #F5170E;
    color: #fff;
}
.paginator__item:hover .paginator__link  {
    background: #F5170E;
    color: #fff;
}