.services {
    padding: 98px 0 85px;
}
.services__list {
    margin-bottom: 63px;
}
.services__item {
    margin-bottom: 44px;
}
.services__item:last-child {
    margin-bottom: 0;
}
.service__content {
    color:  #000000;
    flex: 1;
    padding-top: 12px;
   }

   .service {
   display: flex;

   }
.service__img {
    width: 40.4%;
    margin-right: 5%;
  
}
.service__img-elem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
   .service__title {
    font-size: 36px;
    line-height: 49px;
    font-weight: bold;
    margin-bottom: 28px;
   }
   .service__desc {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 34px;
    color:  #303030;
}