.welcome {
    display: flex;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}
.welcome {
    background: url(../img/bg.png) center top no-repeat;
  background-size: cover;
}
.welcome__text {
    margin-bottom: 44.5px;
}